.picture {
  height: 800px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/task-03-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
