@media screen and (max-width: 767px) {
  .container {
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
  }

  .red {
    background-color: red;
    width: 50%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }

  .wrapper {
    width: 100vw;
    height: 100vh;
  }

  .green {
    background-color: green;
    height: 40%;
    width: 50%;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .blue {
    background-color: blue;
    height: 20%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100vw;
    height: 100vh;
  }

  .red {
    background-color: red;
    width: 50%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }

  .green {
    background-color: green;
    flex-grow: 0;
    flex-basis: calc(100% / 2 - 10px);
    margin-right: 20px;
  }

  .blue {
    flex-grow: 0;
    flex-basis: calc(100% / 2 - 10px);
    background-color: blue;
  }
}
